<div ng-cloak>

	<nav-buttons></nav-buttons>

	<div class="error" ng-if="statusC">
		<h3>{{statusC}} Error</h3>
		<p>{{messageC}}</p>
	</div>
	<div>
		<div class="profile-info-left" ng-if="profileC">
			<div class="profile-info-left-container">
				<img class="profile-image" ng-src="{{profileC.user.avatar}}" alt="{{profileC.user.username}} profile image"/>
				<div class="reportcard-name">
					<h2>{{profileC.user.username}}'s<br/>CodeSchool Report Card</h2>
					<h3>{{profileC.user.total_score}} total points earned!</h3>
				</div>
			</div>
		</div>
		
		<search-bar></search-bar>
		
	</div>
	<h3 ng-if="profileC">Completed</h3>
	<div class="all-badges-container" ng-if="profileC">	
		<div class="badge-images animate" ng-repeat="badge in profileC.badges | filter:filterBadges:profileC.badges.name">
			<a ng-href="{{badge.course_url}}">
				<div style="position: relative;">
					<span class="badge-hover-description">
						<p style="margin: 0;">{{badge.name}}</p>
					</span>
					<img class="badge-image" ng-src="{{badge.badge}}" alt="{{badge.name}} badge image"/>
				</div>
			</a>
		</div>
	</div>
	<div ng-if="profileC.courses.in_progress">
		<h3>In Progress</h3>
		<div class="all-badges-container">
			<div class="badge-images" ng-repeat="badge in profileC.courses.in_progress">
				<a ng-href="{{badge.url}}">
					<div style="position: relative;">
						<span class="badge-hover-description">
							<p style="margin: 0;">{{badge.title}}</p>
						</span>
						<img class="badge-image" ng-src="{{badge.badge}}" alt="{{badge.title}} badge image"/>
					</div>
				</a>	
			</div>	
		</div>
	</div>	
</div>