<div ng-cloak>

	<nav-buttons></nav-buttons>

	<div class="error" ng-if="statusC">
		<h3>{{statusC}} Error</h3>
		<p>{{messageC}}</p>
	</div>
	<div>
		<div class="profile-info-left" ng-if="profileC">

			<profile-info school="Code School" image="{{profileC.user.avatar}}" name="{{profileC.user.username}}" points="{{profileC.user.total_score}}" num="{{numC}}"></profile.info>

		</div>
		
		<search-bar></search-bar>

	</div>
	<h3 ng-if="profileC">Completed</h3>
	<div class="all-badges-container" ng-if="profileC">	
		<div class="badge-images animate" ng-repeat="badge in profileC.badges | filter:filterBadges:profileC.badges.name">

			<all-badges link="{{badge.course_url}}" name="{{badge.name}}" icon="{{badge.badge}}"></all-badges>

		</div>
	</div>
	<div ng-if="profileC.courses.in_progress">
		<h3>In Progress</h3>
		<div class="all-badges-container">
			<div class="badge-images" ng-repeat="badge in profileC.courses.in_progress">
				<a ng-href="{{badge.url}}">
					<div style="position: relative;">
						<span class="badge-hover-description">
							<p style="margin: 0;">{{badge.title}}</p>
						</span>
						<img class="badge-image" ng-src="{{badge.badge}}" alt="{{badge.title}} badge image"/>
					</div>
				</a>	
			</div>	
		</div>
	</div>	
</div>