<div ng-cloak>
	<div class="container">
		<div class="nav">
			<a style="float: right;" href="#/">
				<button class="nav-button">Treehouse</button>
				<!-- <h3 style="text-align: right;">Treehouse</h3> -->
			</a>
		</div><div class="nav">	
			<a style="float: left;" href="#/codeschool">
				<!-- <h3 style="text-align: left;">CodeSchool</h3> -->
				<button class="nav-button">Code School</button>
			</a>
		</div>	
	</div>
	<div>
		<div class="profile-info-left">
			<div class="profile-info-left-container">
				<img class="profile-image" ng-src="{{profileC.user.avatar}}" alt="{{profileC.user.username}} profile image"/>
				<div class="reportcard-name">
					<h2 class="reportcard-name">{{profileC.user.username}}'s<br/>CodeSchool Report Card</h2>
					<h3>{{profileC.user.total_score}} total points earned!</h3>
				</div>
			</div>
		</div>
		<div class="profile-info-right">	
			<div class="search">
				<!-- <h4>Search Badges: </h4> -->
				<input class="search-bar" type="text" placeholder="Search Completed Badges..." ng-model="filterBadges"/></input>
			</div>
		</div>
	</div>
	<h3>Completed</h3>
	<div class="all-badges-container">	
		<div ng-repeat="badge in profileC.badges | filter:filterBadges:profileC.badges.name"  class="badge-images">
			<a ng-href="{{badge.course_url}}">
				<div style="position: relative;">
					<span class="badge-hover-description">
						<p style="margin: 0;">{{badge.name}}</p>
					</span>
					<img class="badge-image" ng-src="{{badge.badge}}" alt="{{badge.name}} badge image"/>
				</div>
			</a>
		</div>
	</div>
	<h3>In Progress</h3>
	<div class="all-badges-container">
		<div ng-repeat="badge in profileC.courses.in_progress" class="badge-images">
			<a ng-href="{{badge.url}}">
				<div style="position: relative;">
					<span class="badge-hover-description">
						<p style="margin: 0;">{{badge.title}}</p>
					</span>
					<img class="badge-image" ng-src="{{badge.badge}}" alt="{{badge.title}} badge image"/>
				</div>
			</a>	
		</div>	
	</div>	
</div>