<div ng-cloak>
	<div class="container">
		<div class="nav">
			<a style="float: right;" href="#/">
				<button class="nav-button">Treehouse</button>
				<!-- <h3 style="text-align: right;">Treehouse</h3> -->
			</a>
		</div><div class="nav">	
			<a style="float: left;" href="#/codeschool">
				<!-- <h3 style="text-align: left;">CodeSchool</h3> -->
				<button class="nav-button">Code School</button>
			</a>
		</div>	
	</div>
	<div>
		<div class="profile-info-left">
			<div class="profile-info-left-container">
				<img class="profile-image" ng-src="{{profileT.gravatar_url}}" alt="{{profileT.name}}"/>
				<div class="reportcard-name">
					<h2>{{profileT.name}}'s <br/> Treehouse Report Card</h2>
					<h3>{{profileT.points.total}} total points earned!</h3>
				</div>
			</div>
		</div>
		<div class="profile-info-right">	
			<div class="search">
				<!-- <h4>Search Badges: </h4> -->
				<input class="search-bar" type="text" placeholder="Search Badges..." ng-model="filterBadges"/></input>
			</div>
		</div>
	</div>
	<div class="all-badges-container">	
		<div ng-repeat="badge in profileT.badges | filter:filterBadges:myInfo.badges.name"  class="badge-images">
			<a ng-href="#/treehouse-badge/{{badge.id}}">
				<div style="position: relative;">
					<span class="badge-hover-description">
						<p style="margin: 0;">{{badge.name}}</p>
					</span>
					<img class="badge-image" ng-src="{{badge.icon_url}}" alt="{{badge.name}} badge image"/>
				</div>
			</a>
		</div>
	</div>	
</div>