<div ng-cloak>

	<nav-buttons></nav-buttons>

	<div class="error" ng-if="statusT">
		<h3>{{statusT}} Error</h3>
		<p>{{messageT}}</p>
	</div>
	<div>
		<div class="profile-info-left" ng-if="profileT">

			<profile-info school="Treehouse" image="{{profileT.gravatar_url}}" name="{{profileT.name}}" points="{{profileT.points.total}}" num="{{numT}}"></profile.info>

		</div>

		<search-bar></search-bar>

	</div>
	<div class="all-badges-container" ng-if="profileT">
		<div class="badge-images animate" ng-repeat="badge in profileT.badges | filter:filterBadges:myInfo.badges.name">

			<all-badges link="#/treehouse-badge/{{badge.id}}" name="{{badge.name}}" icon="{{badge.icon_url}}"></all-badges>

		</div>
	</div>	
</div>